﻿@model ServiceType
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5><b>@ViewData["Title"]</b></h5> @*ViewData["Title"] is set in the controller*@

@using (Html.BeginForm((string)ViewBag.CrudAction, (string)ViewContext.RouteData.Values["controller"]))
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
    <div class="container container-fluid">

        <div class="row">
            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label", @dir = "rtl" })
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div> @*class= "container container-fluid"*@



    @*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

    @Html.Partial("_Edit");




} @*form*@

