﻿@model IEnumerable<ApplicationUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Styles", required: false) above the <head> tag.*@
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
}

<h5>@ViewData["Title"]</h5> @*ViewData["Title"] is set in the controller*@

<table class="table table-striped" id="listItems">
    <thead>
        <tr>
            <th></th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(
                               " Edit"
                               , "Edit"
                               , (string)ViewContext.RouteData.Values["controller"]
                               , new
                               {
                                   id = row.Id
                               }
                               , new
                               {
                                   Class = "btn btn-link glyphicon glyphicon-pencil"
                                           ,
                                   title = "Edit this record"
                               }
                               )
            </td>
            <td>

                @Html.ActionLink(
                                   "View Cars"
                                   , "Index"
                                   , "Cars"
                                   , new
                                   {
                                       id = row.Id
                                   }
                                   , new
                                   {
                                       Class = "btn btn-link",
                                       title = "View cars"
                                   }
                                   )
            </td>

            <td>@Html.DisplayFor(m => row.Name)</td>
            <td>@Html.DisplayFor(m => row.Email)</td>

        </tr>
        }
    </tbody>
</table>


@*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

@Html.Partial("_List")

@section Scripts {
    @*    This section is defined in _Layout.cshtml as @RenderSection("Scripts", required: false) above the </body> tag.*@

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#listItems').DataTable();
        });
    </script>

}

