﻿@model Car  
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>@ViewData["Title"]</h5> @*ViewData["Title"] is set in the controller*@

@using (Html.BeginForm((string)ViewBag.CrudAction, (string)ViewContext.RouteData.Values["controller"]))
{
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
<div class="container container-fluid">

    <div class="row">
        <div class="form-group">
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CustomerId)
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.VIN, new { @class = "col-md-2 control-label", @dir = "rtl" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.VIN, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.VIN, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Make, new { @class = "col-md-2 control-label", @dir = "rtl" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Make, new SelectList(ViewBag.Makes,"Make","Make"), "Please pick one...", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Make, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Model, new { @class = "col-md-2 control-label", @dir = "rtl" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Model, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Color, new { @class = "col-md-2 control-label", @dir = "rtl" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Color, string.Empty, new { @class = "text-danger" })
            </div>
        </div>
    </div>

</div> @*class= "container container-fluid"*@



    @*------------------------------------------------------No user serviceable code below this line--------------------------------------------------*@

    @Html.Partial("_Edit");




} @*form*@

